node_modules
npm-debug.log
Dockerfile
README.md
.git
.gitignore
test
docs
*.md
*.log
*.tsbuildinfo
dist
coverage
.vscode
.idea
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.tgz
.eslintcache
.env
.env.local
.env.development
.env.test
assets/test

